doctype html
html (lang='en')
  head
    title Elizabeth Welch
  body
    nav
    header
      img
    main
      div.intro
      div.projects
      div.resume
      div.contact
    footer